@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
html,
body {
  padding: 0;
  max-width: 1440px;
  overflow-x: hidden;
  min-height: 100vh;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
  transition: all 0.5s;
  margin: 0;
  font-family: "Inter";
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
